* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: url('./images/bg.jpg');
  background-size: cover;
  
  color: #576063;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 400;
}

button {
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  height: 7px;
  border-radius: 5px;
  background-color: #71bff3;
  outline: none;
  box-shadow: 0px 0px 10px #89cefc93;
}

::-webkit-slider-thumb {

  all: unset; /* limpa os estilos iniciais */
  -webkit-appearance: none; /* remove a aparencia padão */
  border: none;
  
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e26060;
    box-shadow: 0px 0px 10px #e2606093;
}

/* ---------------------------- FIM DA REMOÇÃO DE ESTILOS INICIAIS ------------------------------ */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  margin: 0;
  padding: 0 20px 0 20px;
  height: 100vh;
  min-width: 500px;

  background-image: linear-gradient(#f0f2f5ea, #f0f2f5 70%);
  background-size: cover;
}

h1#titulo {
  font-family: 'Dancing Script', cursive;
  margin-top: 10vh;
  font-size: 2.5rem;
  z-index: 1000;
}

div#sublinhar-titulo {
  width: 440px;
  transform: translateX(-10px);
  height: 4px;
  background: #71bff3;
  margin-top: -10px;
  margin-bottom: 30px;
}

h1 strong {
  color: #e26060;
  font-weight: 700;
  font-family: 'Dancing Script', cursive;
}

h2#pergunta {
  font-size: 1.3rem;
  margin: 30px 0 10px 0;
}

h2 strong {
  font-weight: bolder;
  color: #e26060;
}

div#opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 30px auto;
}

div#opcoes input {
  width: 350px;
  margin: 20px 40px 50px 20px;
}

#range-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

div#titulo-msg {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 7px;
  margin-top: 25px;

  background-color: #89cefc;
  z-index: 1000;
  box-shadow: 0px 0px 5px #89cefc23;
}

div#titulo-msg h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 2.5rem;

  margin-top: -35px;
  margin-left: -5px;

  text-shadow: 0 0 10px #fff;
  color: #e26060;

  transform: translateX(-5px);
}

div#box-mensagem {
  display: flex;

  margin: -5px 30px 30px 30px;
  padding: 30px;
  height: 180px;
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  background-image: linear-gradient(#ffffff
  df, #fff 70%);
  box-shadow: 0px 0px 20px #00000010;
  border-radius: 10px;
  border: 2px solid #ddd;
}

p#mensagem {
  text-align: left;
}

p#medio {
  font-weight: bolder;
  font-size: 1.1rem;
  color: #438ec0;
}

p#muito {
  font-weight: bolder;
  font-size: 1.3rem;
  color: #d45555;
  text-shadow: 0px 0px 10px #e2606093;
}

#botoes {
  display: flex;
  flex-direction: row;
}

#btn1 {
  margin: 20px 10px;
  width: 150px;
  height: 50px;

  border: none;
  background: #e26060;
  color: #fff;
  border-radius: 25px;

  font-weight: bolder;
  font-size: larger;

  transition: 0.3s;
}

#btn1:hover {
  background: rgb(241, 106, 106);
  transform: translateY(-5px);
}

#btn2 {
  margin: 20px 10px;
  width: 150px;
  height: 50px;

  border: none;
  background: #666;
  color: #fff;
  border-radius: 25px;

  font-weight: bolder;
  font-size: larger;

  transition: 0.3s;
}

#btn2:hover {  	
  filter: brightness(1.2);
  transform: translateY(-5px);
}